<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Customer Confirmation</title>
    <link rel="stylesheet" th:href="@{/css/demo.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />
  </head>
  <body>
    <div class="container pt-4">
      <h1>Customer is confirmed!</h1>

      <p th:text="${customer.firstName} + ' ' + ${customer.lastName}" />
      <p>Free Passes: <span th:text="${customer.freePasses}" /></p>
      <p>Postal Code: <span th:text="${customer.postalCode}" /></p>
      <p>Course Code: <span th:text="${customer.courseCode}" /></p>
    </div>
  </body>
</html>
