<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Binding</title>
  <link rel="stylesheet" th:href="@{/css/demo.css}" />
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
  <h1>Student Confirmation</h1>
  <h5>for: <span th:text="${student.firstName} +' ' + ${student.lastName}"></span></h5>
  <h5>country: <span th:text="${student.country}"></span></h5>
  <h5>favorite language: <span th:text="${student.favoriteLanguage}"></span></h5>

  <h5>favorite Systems </h5>
  <ul>
    <li th:each="s : ${student.favoriteSystems}" th:text="${s}" />
  </ul>
</div>
</body>
</html>