<!doctype html>
<html
  lang="en"
  xmlns:th="http://thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Club List</title>
  </head>
  <body>
    <main class="flex-shrink-0" layout:fragment="body">
      <!-- Page Content-->
      <section class="py-5">
        <div class="container px-5 my-5">
          <div class="text-center mb-5">
            <h1 class="fw-bolder">Run Club Explorer</h1>
            <p class="lead fw-normal text-muted mb-0">Our Clubs</p>
          </div>
          <div class="row gx-5">
            <div>
              <form th:action="@{/clubs/search}" class="form-inline my-2 my-lg-0 mb-3" method="get">
                <input
                  name="query"
                  class="form-control mr-sm-2 mb-5"
                  type="search"
                  placeholder="Search running clubs"
                  aria-label="search"
                />
              </form>
            </div>
            <div class="col-lg-6" th:each="club : ${clubs}">
              <div class="position-relative mb-1">
                <img alt="..." class="img-fluid rounded-3 mb-3" th:src="${club.getPhotoUrl()}" />
                <a
                  class="h3 fw-bolder text-decoration-none link-dark stretched-link"
                  href="#!"
                  th:text="${club.getTitle()}"
                ></a>
              </div>
              <a class="btn btn-secondary mb-5" th:href="@{/clubs/{id}(id=${club.id})}">View</a>
              <a class="btn btn-secondary mb-5" th:href="@{/clubs/{id}/edit(id=${club.id})}">Edit</a>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
